@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Maven Pro', sans-serif;
}

main{
    flex-grow: 1;
}

.logo{
    width: 100px;
}

footer{
    color: orange;
}

.opcionNav{
    color: orange;
    font-size: 20px;
}

.botonIniciarSesion{
    background-color: orange;
    font-size: 20px;
}

.carrito{
    font-size: 40px;
}

/*PAGINA DETALLES*/

.bg-detalles{
    background-image: linear-gradient(to top, #fab519, #faa616, #f99618, #f7871c, #f47721);
}
.acordionDetalles{
    border-color: #f47721;
    background-color: black;
}
.btnCarrito{
    background-color: #f47721;
    border: none;
}
.btnCarrito:hover{
    background-color: #ea5e00;
}

.btnComprar{
    background-color: #fab519;
    border: none;
}
.btnComprar:hover{
    background-color: #e49f00;
}
.colorDescripcion{
    color: #f47721;
}




@media all and (min-width: 992px){
    .opcionNav:hover{
        background-color: grey;
        transition-duration: 1.0s;
        color: orange;
    }

    .carrito{
        font-size: 20px;
    }

    .botonIniciarSesion:hover{
        background-color: gray;
        color: orange;
        transition-duration: 1.0s;
    }
}
